:root {

  /* Paleta de colores principales */
  --color-primary: #141A23;
  --color-secondary: #020b1c;
  --color-accent: #487D91;
  --color-hover: #202F36;
  --color-decoration: #E8A01D;
  --color-decoration-hover: #fcb533;

  /* Colores de texto */
  --color-text-primary: #eeeded;
  --color-text-secondary: #000000;
  --color-text-muted: #727576;
  --color-error: #ce2c2c;
  --color-error-hover: #e01212;
  --color-success: #27b322;
  --color-success-hover: #3fdd2e;
  --color-border: #555A60;

}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text-primary);
  background-color: var(--color-primary);
}

p,
a,
li,
span {
  font-family: "Roboto", serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

h4 {
  margin: 0.5rem 0;
}

small {
  font-weight: 200;
  font-size: 0.75rem;
}

button {
  color: var(--color-text-primary);
  font-family: "Raleway", serif;
  cursor: pointer;
}