.confirmation-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.confirmation-dialog {
    background: var(--color-primary);
    padding: 1.5rem 2rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.dialog-title {
    color: var(--color-decoration);
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
}

.confirmation-dialog p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

.dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.dialog-buttons button{
    width: 50%;
    padding: 0.7rem 0;
    border: none;
    border-radius: 8px;
}

.cancel-button {
    background-color: var(--color-error);
}

.cancel-button:hover {
    background-color: var(--color-error-hover);
}

.confirm-button {
    background-color: var(--color-decoration);
}

.confirm-button:hover {
    background-color: var(--color-decoration-hover);
}